<ngx-ui-loader [loaderId]='loaderId'
[bgsPosition]="loaderPosition"
[bgsColor]="loaderColor"></ngx-ui-loader>
<nb-card>
<nb-card>
  <nb-card-header class="search-header">
    <div class="row">
      <div class="col-xs-12">
        <span class="header-text">{{'screens.home.labels.coverPage' | translate}}</span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      <ng-container>
        <div class="myclass">
          <div class="coverPage" id="coverpage-editor" [innerHTML]="innerHtmlTableType | safeHtml"
            (contextmenu)="contextMenu($event)"></div>
          <div id="insert-coverpage-menu" class="filters-section"></div>
        </div>
      </ng-container>
    </div>
  </nb-card-body>
  <nb-card-footer class="footerCard alignRight">
    <nb-card-footer class="footerRightButton">
      <button nbButton type="button" class="menu-btn-cancel" style="color:black;"  (click)="dismiss()"><label
          class="menu-txt-cancel">{{'screens.home.labels.Cancel' | translate}}</label></button>
      
      <button type="submit" class="menu-btn-save linkToButton" (click)="saveDataLocal()"
        id="btnsaveDataLocal">{{'screens.home.labels.Save' | translate}}</button>
      <button nbButton type="button" class="menu-btn-cancel" style="color:black;"  (click)="deleteContent()"><label
          class="menu-txt-cancel">{{'screens.home.labels.Clear_All' | translate}}</label></button>
     
    </nb-card-footer>
  </nb-card-footer>
</nb-card>