.editblockHeading{
    font-weight:bold;
}

.edidAttributeformGroupLabal
{
    color: #d4d3d3;
    font-size: 11px;
}
.edit-block-attribute-mandatory-icon{
    color:#f50505;
}
.saveCancelBtn{
    float: right;
}
.saveCancelBtnTopBorder{
    border-top: 1px solid #eee!important;
}
.editAttributesavButton {
    height: 35px;
    width: 109px;
    border: 1px solid #636561;
    border-radius: 3px;
    background-color: #666765;
    color: #fff;
}
.canclebuttonLebal{
    color:#aba9a9 !important;
}
.editBlockpopupHW{
    width: 1027px;
    margin-top: 60px;
}
.ediTopHeader{
    border-bottom: 1px solid #eee;
    background: #000;
    color: #fff;

}
.close{
    color: #fff;
    border: none;
    border: 0;
}
.close:hover{
    border: none;
    border: 0;
}