<nb-card>
  <nb-card-body>
    <div *ngIf="selectedEntities.length > 0">
      <select class="form-control custom-form-input ddlHeight" id="ddlEntities" [(ngModel)]="selectedEntity" (change)="onEntityChanged($event)">
        <option *ngFor="let entity of selectedEntities" [ngValue]="entity">
          {{entity.name}}
        </option>
      </select>
    </div>
    <div class="previewContent col-md-12">
      <div class="CoverPageHeader">
        <h4>{{'screens.project-designer.iconview.InformationGathering.InformationRequestDetails' | translate}}</h4> 
      </div>

      <br />
      <ngx-block-types [blockTypeDetails]="blockTypeDetails" class="col-md-12"></ngx-block-types>
      <div>
        <div class=" col-md-12 previewWrapper">
          <div class="col-md-5 padd-leftRight">
            <div class="headerIcon">
              <!-- <div class="logoImage">
                <img src="assets/images/Deloitte_blackImageLogo.svg">
              </div> -->
              <ngx-block-content class="col-md-12 padding0">
              </ngx-block-content>
            </div>
          </div>
          <div class="col-md-7 padd-leftRight">
            <div class="headerIcon">
              <ngx-question-answers class="col-md-12" [questionList]="questionAnswersDetails"> </ngx-question-answers>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>