@import '../../../../@theme/styles/themes';


@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
.navigation {
    @include nb-ltr(padding-right, nb-theme(padding));
    @include nb-rtl(padding-left, nb-theme(padding));
    font-size: 2.5rem;
    text-decoration: none;

    i {
      display: block;
    }

  }

  nb-sidebar div .main-container-fixed
{
    display: unset !important;
}
.left-navigation-btns{
  margin-top: -45px;
  a{
    display: block;
  }
}
.HamburgerIcon{
  cursor: pointer;
  margin-left: 38%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.PrivacyLegalStyle{
  color: #c1c1c1  !important;
  font-size: 12px !important;
  margin-left: 20px;
}
.AngleIcon{
  margin-left: 80px;
}
.privacyPloicy{
  margin-top: 10px;
  color: #c1c1c1  !important;
  font-size: 12px !important;
  margin-left: 20px;
}
.privacyPloicy:hover{
color: #12a3e8 !important;
}