<div class="container-fluid">
  <div class="row home-menu-container templateLevel2MenuWrapper">
    <div id="homeFilters-section" class="col-xs-12 toolbar-component-container collapsed">
      <div class="manage-section pagesetup-section">
        <div class="action-icon-wrapper" >
        <img src="assets/images/newcomment.svg" class="btnToolbar">
        <span class="icon-name">{{'screens.project-designer.document-view.NewComment' | translate}}</span>
      </div>
      <div class="action-icon-wrapper" >
        <img src="assets/images/deletecomment.svg" class="btnToolbar">
        <span class="icon-name"> {{'screens.project-designer.document-view.DeleteComment' | translate}}</span>
      </div>
      <div class="action-icon-wrapper" >
        <img src="assets/images/show_hidecomments.svg" class="btnToolbar">
        <span class="icon-name"> {{'screens.project-designer.document-view.Show/hideComment' | translate}}</span>
      </div>
      <div class="action-icon-wrapper" >
        <img src="assets/images/simplemarkup.svg" class="btnToolbar">
        <span class="icon-name"> {{'screens.project-designer.document-view.Simplemarkup' | translate}}</span>
      </div>
      <div class="action-icon-wrapper" >
        <img src="assets/images/markupotions.svg" class="btnToolbar">
        <span class="icon-name">{{'screens.project-designer.document-view.Markupoptions' | translate}}</span>
      </div>
      <div class="action-icon-wrapper" >
        <img src="assets/images/Toolbar/active/margin.svg" class="btnToolbar">
        <span class="icon-name">{{'screens.project-designer.document-view.Trackchanges' | translate}}</span>
      </div>





      </div>
    </div>
  </div>
  </div>
