
.blockClass{
    // border:0.1rem solid #f1efef;
    // margin: 25px;
    // padding:0;
}

.editBlock{
    width: 30%;
    float: left;
    margin-top: 51px;
   // display: block;
    //width: 30% !important;
   // flex-grow: 0;
}
.row.regionWrapper{
    margin:0;
}
.blockClass.editblcok{
    padding: 0;
}
