.indententText{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
   
    width: 100%;
}
.spacingText{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.spacingBlock{
    align-items: center;
}
.multipleValueSection{
    margin-top: 10px;
    .form-group{
        margin-bottom:0;
    }
}