<ngx-ui-loader [loaderId]='loaderId'
[bgsPosition]="loaderPosition"
[bgsColor]="loaderColor"></ngx-ui-loader>
<nb-card>
        <nb-card-header class="search-header" ngxUiLoaderBlurred>
                <div>
                        <label for="lblTo" class="emailLabel" *ngIf="!isForwardMail && !isInfoRequest" > 
                            &nbsp;&nbsp;{{'screens.project-user.RegistrationEmail' | translate}}
                        </label>                         
                        <!-- <label for="lblTo" class="emailLabel" *ngIf="isForwardMail" > 
                            &nbsp;&nbsp;{{'screens.project-user.ForwardQusetions' | translate}}
                        </label>   -->
                        <label for="lblTo" class="emailLabel"> 
                                &nbsp;&nbsp;{{'screens.project-user.RegistrationEmailText' | translate}}
                        </label> 
                        <div class="closeBtn"   (click)="dismiss()">
                            X
                          </div>

                  </div>
            </nb-card-header>
      <nb-card-body>
          <form  [formGroup]="SendEmailProjectUserForm" (ngSubmit)="SendEmailProjectUser()">
              <div id="sendEmailProjectUserDiv">
                  <div class="col-sm-12 padding0">
                      <div class="form-group toEMail">
                          <label for="lblTo" class="emailLabel" >
                              {{'screens.project-user.To' | translate}}
                          </label>
                          <!-- <textarea type="email" formControlName="ToEmailAddress" readonly
                              class="form-control manage-admin-pointer-none top-level" id="txtToEmailAddress">
                          </textarea> -->
                          <!-- <mat-form-field class="example-full-width form-control" floatLabel="never">
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let item of ToAddress"  [selectable]="selectable"  [removable]="removable"  (removed)="removeEmailIds(item)">
                                        {{ item }}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input  type="text" aria-label="Number" id="txtCCEmailAddress" formControlName="CCEmailAddress" 
                                    [matAutocomplete]="auto" [matChipInputFor]="chipList" #ccReset >
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete"  (optionSelected)='getSelectedCCEmailIds($event.option.value, ccReset)'>
                                    <mat-option class="dropdown-style mat-option ng-star-inserted"
                                        *ngFor="let item of searchUserCCResult" [value]="item.email" >
                                        {{ item.firstName + ' ' + item.lastName + ' ('+ item.email +')'}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>                      -->
                            <div *ngIf="isReadOnly" class="toAddresss">
                                <input type="text" [(ngModel)]="ToAddress" formControlName="ToEmailAddress" class="form-control"  id="txtToEmailAddress" [readonly]="isReadOnly">                          
                            </div>   
                            <div class="clearfix">

                            </div>                       
                          <div *ngIf="!isReadOnly" class="notReadOnly">
                          <mat-form-field class="example-full-width form-control" floatLabel="never">
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let item of emailsTo"  [selectable]="selectable"  [removable]="removable"  (removed)="removeToEmailId(item)">
                                        {{ item }}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input  type="text" aria-label="Number" id="txtToEmailAddress" formControlName="ToEmailAddress" 
                                    [matAutocomplete]="auto" [matChipInputFor]="chipList" #toReset >
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete"  (optionSelected)='getSelectedToEmailIds($event.option.value, toReset)'>
                                    <mat-option class="dropdown-style mat-option ng-star-inserted"
                                        *ngFor="let item of searchUserToResult" [value]="item.email" >
                                        {{ item.firstName + ' ' + item.lastName + ' ('+ item.email +')'}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            </div>
                      
                      </div>
                  </div>
                  <div class="col-sm-12 padding0">
                      <div class="form-group">
                          <label for="lblCC" class="emailLabel">
                              {{'screens.project-user.CC' | translate}}
                          </label>
                          <mat-form-field class="example-full-width form-control" floatLabel="never">
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let item of emailsCC"  [selectable]="selectable"  [removable]="removable"  (removed)="removeEmailIds(item)">
                                        {{ item }}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input  type="text" aria-label="Number" id="txtCCEmailAddress" formControlName="CCEmailAddress" 
                                    [matAutocomplete]="auto" [matChipInputFor]="chipList" #ccReset >
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete"  (optionSelected)='getSelectedCCEmailIds($event.option.value, ccReset)'>
                                    <mat-option class="dropdown-style mat-option ng-star-inserted"
                                        *ngFor="let item of searchUserCCResult" [value]="item.email" >
                                        {{ item.firstName + ' ' + item.lastName + ' ('+ item.email +')'}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <button class="bccBtn" id="btnBCCEnable" *ngIf="EnableBCCBtn"
                            (click)="EnableBCC()">{{'screens.project-user.BCCBtn' | translate}}
                          </button>
                          <!-- <textarea type="email" formControlName="CCEmailAddress"
                              class="form-control manage-admin-pointer-none top-level" id="txtCCEmailAddress">
                          </textarea> (input)="onSearchChange($event.target.value)" --> 
                      </div>
                  </div>
                  <div class="col-sm-12 padding0" *ngIf="EnableBCCControl">
                      <div class="form-group">
                          <label for="lblBCC" class="emailLabel">
                              {{'screens.project-user.BCC' | translate}}
                          </label>
                          <mat-form-field class="example-full-width form-control" floatLabel="never">
                            <mat-chip-list #bCCList>
                                <mat-chip *ngFor="let item of emailsBCC"  [selectable]="selectable"  [removable]="removable"  (removed)="removeBCCEmailId(item)">
                                  {{ item }}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input type="text" aria-label="Number" id="txtBCCEmailAddress"  formControlName="BCCEmailAddress"
                                 [matAutocomplete]="auto" [matChipInputFor]="bCCList" #bccReset >
                              </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete"  (optionSelected)='getSelectedBCCEmailIds($event.option.value, bccReset)'>
                            <mat-option class="dropdown-style mat-option ng-star-inserted"
                                *ngFor="let item of searchUserBCCResult" [value]="item.email" >
                                {{ item.firstName + ' ' + item.lastName + ' ('+ item.email +')'}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                          <!-- <textarea type="email" formControlName="BCCEmailAddress"
                              class="form-control manage-admin-pointer-none top-level" id="txtBCCEmailAddress">
                          </textarea> -->
                      </div>
                  </div>
                  <div class="col-sm-12 padding0">
                      <div class="form-group">
                          <label for="lblSubject" class="emailLabel">
                              {{'screens.project-user.Subject' | translate}}
                          </label>
                          <input type="text" formControlName="Subject" maxlength="50"
                              class="form-control manage-admin-pointer-none" id="txtSubject">
                      </div>
                  </div>
                  <div class="col-sm-12 editorSendMail padding0">
                      <!-- <div class="form-group"> -->
                            <div class="coverPage" id="editor-email"></div>
                        <div id="toolbar-menu-email" class="filters-section coverpage-editor"></div>
                       
                        <!-- <ckeditor formControlName="EmailBody" [config]="config"></ckeditor> -->
                      <!-- </div> -->
                  </div>
              </div>
          </form>
      </nb-card-body>
      <nb-card-footer>
          <button nbButton type="button" class="button-section rectangle sendBtn" id="btnCreateEntity" (click)="SendEmailProjectUser()">
                {{'screens.project-user.SendBtn' | translate}}
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button nbButton type="button" class="menu-btn-cancel sendCancelBtn" style="color:black;" 
            (click)="dismiss()"><label
            class="menu-txt-cancel">{{'screens.home.labels.Cancel' | translate}}</label></button>
        </nb-card-footer>
  </nb-card>