<div *ngIf="selectedThemeOption != undefined">
  <div *ngIf="section == 'Theme1.2'">
    <ngx-dropdown-treeview [id]="section" [config]="config" [items]="section2TreeList"
      class="home-industry filter-input" (selectedChange)="onItemSelected2($event)">
    </ngx-dropdown-treeview>
  </div>
  <div *ngIf="section == 'Theme1.3'">
    <ngx-dropdown-treeview [id]="section" [config]="config" [items]="section3TreeList"
      class="home-industry filter-input" (selectedChange)="onItemSelected3($event)">
    </ngx-dropdown-treeview>
  </div>
</div>