<ngx-ui-loader [loaderId]='loaderId' [bgsPosition]="loaderPosition"
 [bgsColor]="loaderColor"></ngx-ui-loader>

<div *ngIf="isGridLoaded">
  <div ngxUiLoaderBlurred>
  <ng2-smart-table id="projectSmartTable" class="home-table" [settings]="settings" (custom)="onCustomAction($event)"
    [source]="source" (userRowSelect)="onProjectSelect($event)">
  </ng2-smart-table>
</div>
</div>

<div class="container" *ngIf="!isGridLoaded">
  <table class="table table-bordered" style="height:calc(100vh - 218px);margin-left:-10px">
    <thead>
      <tr style="background-color:#86BC25 !important">
        <th class="projectListHeader">{{'screens.home.labels.Project' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center; padding-top:200px;" [innerHTML]="projectTemplateMessage">
        </td>
      </tr>
    </tbody>
  </table>
</div>