
// .emptyBlock{
//     width: 150px;
//     }

// .checkbox{
//     margin-right: 10px;
// }
// .attributeView{   
//     height: 575px;	
//     width:95%;
//     // width: 1680px !important;	
//     border: 1px solid #D0D0CE;	
//     background-color: #FFFFFF;	
//     box-shadow: 0 0.5px 0 0 #D8D8D8;
//     margin: 30px auto;
// }
#ddlBlockState{
    margin-top: -4px;
}

// .header{
//     height: 40px;	
//     // width: 1621px;	
//     background-color: #86BC25;
//     margin-left: 25px;
//     color: #FFFFFF;
// }

// .subHeader{
//     color: #FFFFFF;
//     height: 19px;
//     width: 15px;
//     -ms-flex-line-pack: center;
//     align-content: center;
//     /* margin-top: 6px; */
//     line-height: 36px;
//     text-align: center;
//     font-size: 12px;
//     font-weight: 500;
// }

// .aligncenter{
//     margin-left: 20px !important;
// }
// .blockId{
//     font-size: 10px;
// }

// .blockAttributes{
//     height: 45px;
//     width: 15px;
//     //align-content: center;
//     margin-top: 8px;
//     font-size: 12px;
//     margin-right: 20px;
//     overflow: hidden;

// }

// .attributeDetails{
//     height: 40px;	
//     width: 1334.5px;
//     color: black;
// }

// .drop-above {
//     border-top: 28px solid #aeef9930;;
//     margin-top: -20px;   
//     width: 85%;
//     outline: 1px dashed #000;
//     outline-offset: -2px;
//     // margin-top: 2px;
//      height: 19px;
//   }
//    .drop-below {
//     // border-bottom: 30px solid #aeef9930;
//     // margin-bottom: -20px;
//     // width: 85%;
//     // outline: 1px dashed #000;
//     // outline-offset: -2px;
//     // height: 19px;
//     position: relative;
//     height: 85px;
//   }
//   .drop-center {
//     background-color: #dddddd;
//    }
//   .stackDisplay{
//     color: gray !important;
//   }

//   .stackLevel{
//       margin-left: 30px;
//   }

//   .custom-form-input {
//     font-size: 0.9rem !important;
// }

// .blockAttributes .dropdownMenu{
//     position: absolute;
//     top: 32px !important;
//     left: 0px !important;
// }

// .blockAttributes .dropdown-container{
//  position: fixed;
//  border: 1px solid #EEE;
// }

// .top-header1{}
// .attributeView mat-tree-node{
//     border: 1px solid #ccc;
//     margin-left: 25px;
//     margin-bottom: 5px;
//     margin-top: 5px;
// }
// ngx-attribute-view{ width:100%;}
// ngx-attribute-view{width: 100%;}

.emptyBlock{
    width: 150px;
    }

.checkbox{
    margin-right: 10px;
}

.blockId{
    font-size: 10px;
}


.attributeDetails{
    height: 40px;	
    width: 1334.5px;
    color: black;
}

.drop-above {
    border-top: 28px solid #aeef9930;;
    margin-top: -20px;   
    width: 85%;
    outline: 1px dashed #000;
    outline-offset: -2px;
    // margin-top: 2px;
     height: 19px;
  }
   .drop-below {
    // border-bottom: 30px solid #aeef9930;
    // margin-bottom: -20px;
    // width: 85%;
    // outline: 1px dashed #000;
    // outline-offset: -2px;
    // height: 19px;
    position: relative;
    height: 85px;
  }
  .drop-center {
    background-color: #dddddd;
   }
  .stackDisplay{
    color: gray !important;
  }

  .stackLevel{
      margin-left: 30px;
  }

  .custom-form-input {
    font-size: 0.9rem !important;
}