<ngx-ui-loader [loaderId]='loaderId' [bgsPosition]="loaderPosition" [bgsColor]="loaderColor"></ngx-ui-loader>

<nb-card class="assignToWrapper">
  <nb-card-header class="search-header ">
    <div class="col-sm-12 padding0">
    <div class="col-sm-1 padding0">
      <div class="assignIcon">
          <img src="assets/images/Assign to_clicked.svg" >
      </div>
    
    </div>
    <div class="col-sm-11">
    <div>
    <span class="header-text">{{headerTitle}}</span>
    </div>
    <div >
    <span>{{headerMessage}}</span>
    </div>
    </div>
    </div> 
    </nb-card-header> 
  <nb-card-body class="col-md-offset-1 col-md-11 ">
    <div class="assignToContent">
    <div class="row">
        <div class="errorMessage" *ngIf="validationMessage">
          {{'screens.project-designer.document-view.tasks.assignToNoUserWarning'|translate}}</div>
      <div class="col-sm-12 " id="middle">
        <form [formGroup]="searchUserForm">
          <div class="form-group assignToSearchForm" id="searchUserForm">
            <mat-form-field class="example-full-width form-control" floatLabel="never">
              <input type="text" aria-label="Number" id="txtSearchUser" matInput formControlName="SearchUser"
                [matAutocomplete]="auto">
              <mat-placeholder class="placeholder">{{'screens.project-designer.document-view.tasks.Assign-To'|translate}}</mat-placeholder>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option class="dropdown-style mat-option ng-star-inserted" *ngFor="let item of searchUserResult"
                  [value]="item.email">
                  {{ item.firstName + ' ' + item.lastName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!-- <mat-error
              *ngIf="form.LeadNames.controls[i].controls['SearchUser'].errors"
               class="invalid-feedback">
              <div
                *ngIf="i==0 && form.LeadNames.controls[i].controls['SearchUser'].errors">
                <div
                  *ngIf="form.LeadNames.controls[i].controls['SearchUser'].errors.required">
                  {{'screens.home.organization-project-validations.LeadNameValidationMsg' | translate}}
                </div>
              </div>
              <div *ngIf="form.LeadNames.controls[i].controls['SearchUser'].errors.pattern">
                {{'screens.home.organization-project-validations.LeadNamePatternValidationMsg' | translate}}
              </div>
            </mat-error> -->
            <!-- <button id="addLeadBtn" class="addBtn disabled" [disabled]='!searchUserResult || !searchUserResult.length'
              (click)="addUsers()">+
              Add
              More</button> -->
              <div class="inputWithIcon">
                <input type="text" class="form-control custom-form-input" formControlName="DueDate" 
                id="txtDueDate" [placeholder]="'screens.project-designer.document-view.tasks.MM/DD/YYYY'|translate" [nbDatepicker]="datepicker1" readonly> 
                <label class="custom-form-label" for="txtDueDate">
                  <i>
                    <img src="assets/images/calender.png" class="calender-icon"></i></label>
                <nb-datepicker #datepicker1 format="MM/dd/yyyy"> </nb-datepicker> 
                <div class="errorMessage" *ngIf="dueDateRequired">{{'screens.project-designer.document-view.tasks.assignToDueDateWarning'|translate}}</div>
            </div>
          </div>
        </form>

      </div>
      <!-- <div class="col-sm-9 padding0" id="right">
        <div *ngFor="let select of selectedUsers" class=" selected-deliverable">{{select.email}}
          <i class="fas fa-times remove-deliverable" (click)="remove(select)"></i>
        </div>
      </div> -->
    </div>
    <br />
    <div class="row">
      <div class="col-sm-12 ">
        <textarea [placeholder]="'screens.project-designer.document-view.tasks.note'|translate" name="note" [(ngModel)]="note" ></textarea> 
      </div>
    </div>
  </div>
  </nb-card-body>
  <nb-card-footer class="assignFooter" >
    <div class="col-md-offset-1 col-md-11 footerButton ">
      <button nbButton type="button" class="menu-btn-cancel" style="color:black;"  (click)="cancel()"><label
          class="menu-txt-cancel">{{'screens.home.labels.Cancel' | translate}}</label></button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" class="menu-btn-save" (click)="assignTo()" id="btnAssign">{{'screens.home.labels.Assignto' | translate}}</button>
      </div>
  </nb-card-footer>
</nb-card>