.projectListHeader {
	font-family: "Open Sans",sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 500 !important;
    line-height: 19px !important;
    align-content: center;
    color: #FFFFFF !important;
    }
    .nb-theme-corporate ng2-smart-table .ng2-smart-actions
    {
        color: red;
        font-size: 20px;
    }
    
    .projectLoader{
        position: relative;
        left: 300px;
        top: 100px;
    }