    
.alert-danger
{
    color: red !important;
    font-size: 14px !important;
   // padding-left: 0px !important;
    font-weight: bold;
}
.alert-success
{
    color: #86BC25 !important;
    font-size: 14px !important;
   // padding-left: 0px !important;
    font-weight: bold;
}
.alert-warning
{
    color:#EFBB35 !important;
    font-size: 14px !important;
   // padding-left: 0px !important;
    font-weight: bold;
}