  
  .toolbar-component-container {
    display: flex;
    justify-content: flex-start;
  
  // padding-top: 6px;
    position: relative;
    padding: 0px;
  
    @media screen and (max-width: 991px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  
    @media screen and (max-width: 576px) {
      padding: 0 0 15px 0;
    }
  
    &.collapsed {
  
      .manage-section {
        position: relative;
        display: flex;
     align-self: flex-start;
        .section-name {
          height: 0px;
        }
      }
  
      .collapse-btn-wrapper {
        bottom: -2px;
        right: 0;
  
        @media screen and (max-width: 576px) {
          bottom: 5px;
        }
      }
    }
  
    .collapse-btn-wrapper {
      position: absolute;
      right: 45px;
      bottom: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: black;
      font-size: 11px;
      margin-right: -18px;
      @media screen and (max-width: 576px) {
        bottom: 10px;
        right: 10px;
        left: auto;
      }
  
      .collapse-text {
        margin: .375rem 0;
        font-size: 11px;
      }
  
      .collapse-img {
        margin-left: 4px;
      }
    }
  
    .manage-section{
      position: relative;
      // border-right: 1px solid #D2D4CD;
      // margin-top: -2.25rem;
      // min-width: 67.5px;
      padding: 0px 10px;
      padding-top: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
  
       
      @media screen and (max-width: 991px) {
        padding: 15px;
  
        // border-right: none;
        &:after {
          display: none;
        }
      }
  
      .action-icon-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        cursor: pointer;
  
        &:first-of-type {
          margin-left: 0;
        }
  
        &:last-of-type {
          margin-right: 0;
        }
  
        .btnToolbar {
          height: auto;
          max-width: 37px;
        }
  
        .icon-name {
          margin-top: 4px;
          color: black;
          font-size: 9px;
          line-height: 13px;
          width: 54px;
          text-align: center;
        }
  
        .disableIcon {
          color: grey;
        }
      }
  
  
      .section-name {
        position: absolute;
        bottom: 0;
        font-size: 10px;
        top: auto;
        width: 100%;
        text-align: center;
        transition: all .3s ease-in;
        color: #BEBEBE;
        font-family: "Open Sans";
        font-size: 10px;
        line-height: 14px;
  
        @media screen and (max-width: 991px) {
          display: none;
        }
  
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  
    
    .manage-section {
      flex: 0 0 auto;
      padding-left: 10.28px;
      padding-right: 22.43px;
  
      @media screen and (max-width: 991px) {
        flex: 0 1 auto;
      }
  
      .action-icon-wrapper {
        margin: 0px;
      }
    }

    .filters-section {
      flex: 1 1 auto;
      border-right: none;
      // padding-bottom: 5px;
      // padding-left: 2.25rem;
      justify-content: flex-start;
      &:after{
        display: none;
      }
  
      @media screen and (max-width: 768px) {
        // padding-left: 10px;
      }
  
      // max-width: 850px;
      .filter-icon-wrapper {
        display: none;
      }
  
      .filter-inputs-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0;
        width: 100%;
        max-width: 100%;
  
        @media screen and (min-width: 991px) {
          max-width: 1000px;
        }
  
        @media screen and (max-width: 991px) {
          max-width: 100%;
          justify-content: center;
        }
  
        .filter-input {
          width: 165px;
          max-width: 165px;
          background-color: #ffffff;
          border-style: solid;
          border: 1px solid #D2D4CD;
          color: black;
          margin: 0 6.25px;
          margin-bottom: 8.2px;
          height: 28px;
  
          position: relative;
          font-size: 12px;
  
          @media screen and (min-width: 991px) {
  
            // &:nth-child(n + 6) {
            //   // margin-bottom: 0;
            // }
          }
  
          @media screen and (max-width: 991px) {
            width: calc(50% - 12.5px);
            max-width: 100%;
          }
  
          @media screen and (max-width: 576px) {
            width: 100%;
          }
  
          &::placeholder {
            /* Firefox, Chrome, Opera */
            color: black;
            font-size: 12px;
          }
  
          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: black;
            font-size: 12px;
          }
  
          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: black;
            font-size: 12px;
          }
  
          .multiselect-dropdown[_ngcontent-c20] {
            max-width: 100%;
  
            .dropdown-btn {
              padding: 6px;
            }
          }
  
          span {
            border: none;
            border-radius: 0;
            color: gray !important;
          }
  
          input {
            background-color: #ffffff;
            color: black;
            // margin: 4.1px 6.25px;
            width: 100%;
            font-size: 12px;
            max-height: 26px;
            border: none !important;
  
            &::placeholder {
              /* Firefox, Chrome, Opera */
              color: black;
              font-size: 12px;
            }
  
            &:-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: black;
              font-size: 12px;
            }
  
            &::-ms-input-placeholder {
              /* Microsoft Edge */
              color: black;
              font-size: 12px;
            }
          }
  
          i {
            position: absolute;
            top: 2.5px;
            right: 5px;
            background-color: #ffffff;
          }
        }
  
      }
    }
  }
  
  .filter-disable {
    pointer-events: none;
    opacity: 0.5;
  }
  
  #entityFilters-section{
    // height: 64px;
  }
  #entityFilters-section .section-name{
    position: absolute;
    top: 67px;
    left: -1%;
  }
  .manageEntitiesTollbarWrapper{
    // padding-bottom: 4px;
    width: 100%;
    // padding: 6px 0;
  }

  .templateLevel2MenuWrapper{
    .filter-inputs-wrapper{
      width: 70% !important;
      max-width:70%!important;
      padding-left: 5px !important;
    }
    // .manage-section:first-child{
    //   border: none;
    // }
    #homeFilters-section{
      // padding: 0 0 30px 0;
    }
    .manage-section{
      // height: 64px;
      border-right: 1px solid;
      padding: 0;
      // &:first-child{
      //   border: none;
      // }
    }
    .filterText{
      left:31%!important;
      top:66px !important;
      font-size: 10px;
    }
    .sectionNameWrapper{
      padding-bottom: 0;
    }
    .sectionName:nth-child(1){
      position: absolute;
    bottom: 1px;
    left: 103px;
    }
    .sectionName:nth-child(2){
      position: relative;
    bottom: 1px;
    left: 170px;
    }
  }
  .templateLevel2MenuWrapper{
    padding: 8px 0;
  }
  .disable-section {
    opacity: 0.4;
  }
  
  .disabledbutton {
    pointer-events: none;
  }
  .iconColor{
    margin-top: 4px;
    color: black;
    font-size: 9px;
    line-height: 13px;
    text-decoration: none;
    width: 54px;
    text-align: center;
  }
  .iconColor:hover{
    color: #000;
  }
  .searchItem{
    background: url(assets/images/projectdesigner/header/Search.svg);
    background-repeat: no-repeat;
    background-position: 139px 10px;
  }
.infoRequest{
  position: relative;
  top: 4px;
}  
.disableResetIcons{
  opacity: 0.4;
  pointer-events: none;
  
}
.hideFilters{
  display:none;
}
.collapse-btn-wrapper{
  position: absolute;
  right: 45px;
  bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  font-size: 11px;
}
.manage-section.levelWrapper{
 border:none !important;
  .manage-section:first-child{
    border:none !important;
  }
}
.manage-section.clearFilter{
  border-right: 1px solid;
  padding: 0px;
  height: 65px;
  color: #dcd8d8;
}
.manage-section.clearFilter{
  padding-right: 10px !important;
}



 

