@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }
  .right {
    order: 1;
    flex-direction: row-reverse;
  }

  .logo-containter {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  .helmenu{
    cursor: pointer;
  }

  .control-item {
    display: block;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .navigation {
      @include nb-ltr(padding-right, nb-theme(padding));
      @include nb-rtl(padding-left, nb-theme(padding));
      font-size: 2.5rem;
      text-decoration: none;

      i {
        display: block;
      }

    }
    .btn-default {
      color: white;
      background-color: blue;
    
    }
    
    .btn-change {
      color: Red;
      background-color: white;
    }

    a.hover {
      text-decoration: red;
      margin: 10px;
      font-size: 16px;
    }

    .navbar-nav>li {
      // float: left;
      position: relative;
    }

    .navbar-light .navbar-nav .active a::after {
      border-bottom: 2px solid #86BC25;
      bottom: -3px;
      content: " ";
      left: 12px;
      position: absolute;
      right: 12px;
    }

    .textcolor {
      text-decoration-color: azure;
      margin: 10px;
    }

    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);
      @include nb-ltr(border-left, 1px solid nb-theme(separator));
      @include nb-rtl(border-right, 1px solid nb-theme(separator));
      white-space: nowrap;

      span {
        font-weight: nb-theme(font-weight-normal);
      }
    }
  }

  @include nb-for-theme(corporate) {
    $menu-action-separator-color: #3f4550;

    nb-action {
      @include nb-ltr(border-left-color, $menu-action-separator-color);
      @include nb-rtl(border-right-color, $menu-action-separator-color);
    }

    .header-container .logo {
      @include nb-ltr(border, none);
      @include nb-rtl(border, none);
    }

    .header-container /deep/ ngx-theme-switcher .dropdown-toggle {
      color: nb-theme(color-white);
      background: transparent;
    }
  }

  ngx-layout-direction-switcher {
    margin: 0 1.5rem;
  }

  ngx-theme-switcher {
    margin: nb-theme(layout-padding);
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(xl) {
    ngx-layout-direction-switcher {
      display: none;
    }
  }

  .toggle-settings /deep/ a {
    display: block;
    text-decoration: none;
    line-height: 1;

    i {
      color: nb-theme(color-fg-highlight);
      font-size: 2.25rem;
      border-radius: 50%;
      position: relative;
      animation-name: pulse-light;

      &::after {
        content: ' ';
        // hack to be able to set border-radius
        background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
        border-radius: 50%;
        pointer-events: none;

        position: absolute;
        top: 52.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13%;
        height: 13%;

        animation: 3s linear infinite pulse;

        @include nb-for-theme(default) {
          animation-name: pulse-light;
        }
      }
    }
  }

  @include keyframes(pulse) {
    0% {
      box-shadow: 0 0 1px 0 rgba(nb-theme(color-fg-highlight), 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(nb-theme(color-fg-highlight), 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(nb-theme(color-fg-highlight), 0);
    }
  }

  @include keyframes(pulse-light) {
    0% {
      box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
    }
  }

  @include media-breakpoint-down(md) {

    nb-action:not(.toggle-settings) {
      border: none;
    }

    .control-item {
      display: none;
    }

    .toggle-settings {
      padding: 0;
    }

    ngx-layout-direction-switcher {
      display: none;
    }

    ngx-theme-switcher {
      margin: 0 0.5rem;
    }
  }

  @include media-breakpoint-down(sm) {

    nb-user /deep/ .user-name {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {

    .header-container {
      .logo {
        font-size: 1.25rem;
      }
    }

    .toggle-settings {
      display: none;
    }

    ngx-theme-switcher {
      display: none;
    }

    nb-action:not(.toggle-settings) {
      padding: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    .right /deep/ {
      display: none;
    }
  }
}

.rectangle-copy {
  // margin-bottom: -25px;
  // height: 42px;
  // width: 57px;
  padding: 8px 10px;
  border-radius: 4px 4px 0 0;

  &:not(.rectangle-active){
    &:hover {
      background-color: #3f4550;
      z-index: 1;
  
      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        height: 70%;
        width: 100%;
        top: auto;
        left: 0;
        bottom: -7px;
        background-color: #3f4550;
      }
    }
  }
}

.rectangle-copy a.disabled {
  
    pointer-events: none;
    cursor: default;
}

.rectangle-copy img.disabled {
  
  opacity: 0.4;
}


.rectangle-copy img {
  height: 20.25px;
  width: 21.7px;
  // margin-top: 5px;
  // margin-left: 5px;
}

.rectangle-active {
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    height: 70%;
    width: 100%;
    top: auto;
    left: 0;
    bottom: -7px;
    background-color: #FFFFFF;
  }
}

.dropdown-toggle-menu {
      /* position: relative; */
      left: -273px;
      top: 52px;
      color: #000 !important;
}

.dropdown-toggle-menu .dropdown-item:hover {
  background: #86BC25;
}

.header-container  .projectInContext {    
  font-size: 13px;
  margin-right: 29px !important;
  opacity: 0.9;}
.projectBreadcumb{
  display: flex;
  align-items: center;
  align-content: flex-end;
      width: 46%;
    justify-content: flex-end;
    p{
      margin: 0;
    // width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    span{
      max-width:150px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      // vertical-align: middle;
      &:nth-child(2){
        text-align: left;
      }
      
    }
    span:last-child{
      text-align: left;
    }
    b{
      padding: 0 8px;
      height: 20px;
    font-size: 22px;
    font-weight: lighter;
    margin-top: -7px;
    display: inline-block;
    }
    }

}
.notificationSelected i::before  {
  background-color: #86BC25 !important;
  border-radius: 50%;
} 
.padding0Per{
  padding:0% !important
}
.height0Per{
  height:0% !important
}
.padding0PerHeight0Per{
  padding:0% !important;
  height:0% !important;
}
.dropdown{
  .nav-link{
    padding: 3px 0px 0px 0px !important;
  }
}
.backgroundNone{
  background: none;
  &.marginL0{
    margin-left:0 !important;
  }
}
.clickableContent
{
  cursor: pointer;
}
.greenIcon{
 display: flex;
 width: 55px;

}
.greenIcon a{
  cursor: pointer;
 }
 .greenIcon span{
  
 }
 .greenIcon .viewMorelessIcon{
   margin-left: -22px !important;
 }
 .notificationDate{
   width: 20%;
 }