.editHeadingRight{
margin-left: 415px;
margin-top: -18px;
}

.btnRight{
    position: relative;
    left: 620px;
    margin-left: -36px;
}
.HeaderScrolling .custom-form-label{
    color: #b1aeaee3;
    font-size: 13px;
    font-weight: 600;
}