.editStackTopHeader{
    width: 1027px;
    margin-top: 60px;
}
.editTopHeader{
    border-bottom: 1px solid #eee;
    background: #000;
    color: #fff;

}
.close{
    color: #fff;
    border: none;
    border: 0;
}
.close:hover{
    border: none;
    border: 0;
}