<div class="row ">
    <div id="collapsededitorHWprojectDesignToolbar" class="col-sm-12 toolbar-component-container">

        <div class="create-section">
            <div class="action-icon-wrapper">
                <img src="assets/images/Save.svg" (click)="saveData()" class="btnToolbar">
                <span class="icon-name">{{'screens.home.labels.Save' | translate}}</span>
            </div>
            <div [hidden]="!dataModified">
                {{'screens.project-setting.valueOnChange'| translate}}
            </div>
        </div>
    </div>
    </div>
         
           
