.createTopHeader{
    background: #000;
    color: #fff;
    padding-left: 14px;
    padding: 10px !important;
}

.footerCard{
    padding: 0px  !important
}
.createAttributeForm{
    margin-top: 10px;
    width: 400px;
}
.close{
    color: #fff;
    border: none;
    border: 0;
    border: 0 none !important;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    line-height: 1;
    opacity: 1;
    text-shadow: none;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    vertical-align: top;
    width: 46px;
    outline: none;
}
