.addBtn{
    background-color: transparent;
    cursor: pointer;
    border:1px solid black; 
    padding : 3px 10px 3px 10px;
}

.highlight{
    border: 2px solid red;
}
.reportTierHeight{
    height: 39px !important;
}
.inputWithIcon input[type=text]{
    padding-left: 10px;
}
 
.inputWithIcon{
    position: relative;
}

.inputWithIcon i{
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 9px 8px;
}

.labelTxt
{
    padding-left: 11px;
    margin-top: 5px;
}

.checkbox
{
    padding-top:5px;
    
}
.gg{
    font-size: 16px;
    padding-left: 0px;
    
}
.button {
    background-color: #86BC25;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }
  .button1 {
    background-color: white;
    border: 1px solid #86BC25;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }
.cancel-color{
    color: black !important;
}

.btn.btn-success {
    background-color: green;
}
.btn.btn-success.rrr{
    background-color:transparent;
    border:1px solid black; 
    text-decoration-color:red !important;
}
.rr{
    text-decoration:red;
}
 
 
.rectangle 
{
    height: 39px !important;
}
.reportTierHeight{
    height: 39px !important;
}

.check
{
    height: 18px;
    width: 18px;
}

.move
{
    padding-top:5px;
}

.verticalMove
{
    padding-top: 20px;
}

.button-section {
    height: 17px;	width: 27px;	color: #FFFFFF;		font-size: 15px;	line-height: 17px;	text-align: center;
   
  }
  .rectangle{
    height: 35px;	width: 109px;	border: 1px solid #86BC25;	border-radius: 3px;	background-color: #86BC25;
  }

  .rect-cancel{
    height: 35px !important;	width: 109px !important;	border: 1px solid #86BC25;	border-radius: 3px;	background-color: #FFFFFF;
  }
  .canelButton{
        height: 17px;	width: 39px;	color: #86BC25;	font-size: 15px;	line-height: 17px;	text-align: center;
  }
  .dropdown-style{
    background: white; 
    color: black; 
    cursor: pointer; 
    // border: 1px solid black; 
    background-color: white;
 }
 #editTransaction input[type="checkbox"]{
    height:18px;
    width:18px;
    margin-left: -18px;

}
#editTransaction label{
    margin: 4px 0 8px 0px;
}
#editTransaction .checkbox-inline label{
    margin: 2px 30px 8px 6px!important;
}

.disable-section{
    opacity: 0.4;
  }
.disabledbutton {
    pointer-events: none;
   }
   .form-group .selectLibrary.countryDropDown{
       width:100%;
   }
   .invalid-feedback{display: block !important ;}