
    <div *ngIf="selectedThemeOption != undefined">
      <div *ngIf="section == 'Theme3.1'">
        <ngx-dropdown-treeview [id]="section" [config]="config" [items]="section1TreeList" class="home-industry filter-input"
          (selectedChange)="onItemSelected1($event)">
        </ngx-dropdown-treeview>
      </div>
      <div *ngIf="section == 'Theme3.2'">
        <ngx-dropdown-treeview [id]="section" [config]="config" [items]="section2TreeList" class="home-industry filter-input"
          (selectedChange)="onItemSelected2($event)">
        </ngx-dropdown-treeview>
      </div>
      <div *ngIf="section == 'Theme3.3'">
        <ngx-dropdown-treeview [id]="section" [config]="config" [items]="section3TreeList" class="home-industry filter-input"
          (selectedChange)="onItemSelected3($event)">
        </ngx-dropdown-treeview>
      </div>
    </div>
