.select_form_control{
    height: calc(2rem + 6px)!important;
}
.disabledTextInput{
    background-color: #e9ecef;
    opacity: 1;
}


.create-block-attribute-mandatory-icon{
    color: red;
} 
.form-group .form-control::placeholder{
    font-size: 13px;
    color:#c1c6ce; 
}

ngx-dropdown-treeview{
    button{
      height: 31px !important;
      border: 1px solid #D2D4CD !important;
      background-color: #FFFFFF !important;
      border-radius: 0 !important;
      margin: -10px 0 0 0;
      padding: 4px 37px 4px 12px!important;
      width: 137px;
    }
  }
.create-block-textarea{
    height: 79px !important;
}    

.footerRightButton
{
    float: right!important;
    position: relative;
}
.HeaderScrolling{
 overflow: auto;
 max-height: auto;
 height: auto;
 max-height: 500px;
}
.formGroupLabal
{
    color: #d4d3d3;
    font-size: 11px;
}
.blockHeading{
    font-weight:bold;
}
.footerCard{
    border-top: 1px solid #eee !important;
    padding: 0.18px;
}
.savButton{
    height: 35px;
    width: 109px;
    border: 1px solid #636561;
    border-radius: 3px;
    background-color: #666765;
    color: #fff;
}
.canclebuttonLebal{
    color:#aba9a9 !important;
}
.stylepopupHW{
    width: 800px;
    margin-top: 60px;
}
.createTopHeader{
    border-bottom: 1px solid #eee;
    background: #000;
    color: #fff;
    font-weight: normal;

}
.close{
    color: #fff;
    border: none;
    border: 0;
    border: 0 none !important;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    line-height: 1;
    opacity: 1;
    text-shadow: none;
   -webkit-transition: background 0.2s ease-in-out;
   transition: background 0.2s ease-in-out;
   vertical-align: top;
   width: 46px;
   outline: none;
}
.close:hover{
    border: none;
    border: 0;
}
.createBlockSave{
color: #fff;
font-weight: 700;
font-size: 12px;
}
.createBlockpopupHW .custom-form-label{
    font-size: 14px !important;
    
}
.form-control.custom-form-input{
    font-size: 14px !important;
   
}
.createBlockpopupHW ::placeholder{
    font-size: 14px !important;
    
}
.createCancel{
    border-radius: 5px!important;
}

.selectBlockAttrDropDown{
    position: relative; 
    select{
        -webkit-appearance: none;
      }
}

.defineColor{
    background: url(/assets/images/DefineColors.svg) no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    border: none;
    position: absolute;
     right: 96px;
    top: 10px;
   }
   .editorToolbar{
    position: relative;
    box-shadow: 0 0 8px #bbb;
    margin-left: 11px;
    background: #fff !important;
    width: 90%;

   }
   .editorBlock{
    width: 97%;
   }
.display-none{
    display:none;
}
h6{
    margin-top: 25px;
    font-weight: 600;
}