// .upload-btn-wrapper {
//     position: relative;
//     overflow: hidden;
//     display: inline-block;
//   }

.btn {
    // border: 2px solid gray;
    color: white !important;
    background-color: #86BC25 !important;
    // padding: 8px 20px;
    border-radius: 8px;
    font-size: 14px;
    text-transform: none !important;
    height: 35px !important;
    font-family: 'open-sans' !important;
  }
  
  // .upload-btn-wrapper input[type=file] {
  //   font-size: 100px;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   opacity: 0;
  // }
  // .custom-file-input::-webkit-file-upload-button {
  //   background-color: black !important;
  //   opacity: 10;
  //   color: white;
  //   border-radius: 1.5rem;
  //   border: 2px solid gray;
  //   font-size: 14px !important;
  //   height: 35px !important;
  //   width: 123px !important;
  //   font-family: 'open-sans' !important;
  
  // }
  
  // .custom-file-input {
  //   opacity: 10 !important;
  // }
  
  .custom-file-input-wrapper {
    .custom-file-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  
    .custom-file-input-label {
      // height: 35px;
      width: 109px;
      border-radius: 4px;
      background-color: #86BC25;
      box-shadow: 0 0.5px 0 0 #D8D8D8;
      color: white;
      display: inline-block;
      text-align: center;
      padding: 9px 0;
      font-weight: normal;
      margin-bottom: .375rem;
    }
  
    .selectedFileName {
      display: inline-block;
      margin-top: .25rem;
      margin-left: 10px;
    }
  }
  
  .custom-file-upload-btn-wrapper{
    .custom-file-upload-btn{
      width: 109px;
      border-radius: 4px;
      background-color: #86BC25;
      box-shadow: 0 0.5px 0 0 #D8D8D8;
      color: white;
      display: inline-block;
      text-align: center;
      padding: 9px 0;
      font-weight: normal;
      margin-bottom: .375rem;
    }
  }
  