.select_form_control{
   height: calc(2rem + 6px)!important;
}
.disabledTextInput{
   background-color: #e9ecef;
   opacity: 1;
}


.create-block-attribute-mandatory-icon{
   color: red;
} 
.form-group .form-control::placeholder{
   font-size: 13px;
   color:#c1c6ce; 
}

ngx-dropdown-treeview{
   button{
     height: 31px !important;
     border: 1px solid #D2D4CD !important;
     background-color: #FFFFFF !important;
     border-radius: 0 !important;
     margin: -10px 0 0 0;
     padding: 4px 37px 4px 12px!important;
     width: 137px;
   }
 }
.create-block-textarea{
   height: 79px !important;
}    

.footerRightButton
{
   position: relative;
   width: 52%;
   flex-wrap: wrap;
   display: flex;
   padding: 15px;
   align-items: center;
   justify-content: flex-end;
   .createCancel{
      margin-right: 15px;
   }
}
.HeaderScrolling{
overflow: auto;
max-height: auto;
height: auto;
max-height: 500px;
}
.formGroupLabal
{
   color: #d4d3d3;
   font-size: 11px;
}
.blockHeading{
   font-weight:bold;
}
.footerCard{
   border-top: 1px solid #eee !important;
   padding: 0.18px;
}
.savButton{
   height: 35px;
   width: 109px;
   border: 1px solid #636561;
   border-radius: 3px;
   background-color: #666765;
   color: #fff;
}
.canclebuttonLebal{
   color:#86BC25 !important;
}
.createBlockpopupHW{
   height: 397px;
   width: 565px !important;
   margin-top: 60px;
}
.createTopHeader{
   border-bottom: 1px solid #eee;
   background: #000;
   color: #fff;
   font-weight: normal;

}
.close{
   color: #fff;
   border: none;
   border: 0;
   border: 0 none !important;
   color: #fff;
   display: inline-block;
   font-size: 22px;
   line-height: 1;
   opacity: 1;
   text-shadow: none;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  vertical-align: top;
  width: 46px;
  outline: none;
}
.close:hover{
   border: none;
   border: 0;
}
.createBlockSave{
color: #fff;
font-weight: 700;
font-size: 12px;
}
.createBlockpopupHW .custom-form-label{
   font-size: 12px !important;
   
}
.form-control.custom-form-input{
   font-size: 12px !important;
  
}
.createBlockpopupHW ::placeholder{
   font-size: 12px !important;
   
}
.footerRightButton.createCancel{
   border-radius: 2px!important;
}

.custom-file-input-wrapper {
   .custom-file-input {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
   }
 
   .custom-file-input-label {
     // height: 35px;
     width: 109px;
     border-radius: 4px;
     background-color: #86BC25;
     box-shadow: 0 0.5px 0 0 #D8D8D8;
     color: white;
     //display: inline-block;
     text-align: center;
     padding: 9px 0;
     font-weight: normal;
     margin-bottom: 0 !important;
   }
 
   .selectedFileName {
     display: block;
     margin-top: 15px;
   }
 }
 
 .custom-file-upload-btn-wrapper{
   .custom-file-upload-btn{
     width: 109px;
     border-radius: 4px;
     background-color: #86BC25;
     box-shadow: 0 0.5px 0 0 #D8D8D8;
     color: white;
     display: inline-block;
     text-align: center;
     padding: 9px 0;
     font-weight: normal;
     margin-bottom: .375rem;
   }
 }
 .form-group.custom-file-input-wrapper{
   margin-bottom: 0 !important;
   // margin-top: 10px;
 }